#background{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.5;
}

.content{
    width: 100%;
    font-size: small;
    font-family: 'Source Code Pro', monospace;
    color: azure;
    line-height: 1.5em;
	margin-bottom: 30px;
}


.title{
    margin-top: calc(8px + .75vw);
    margin-bottom: calc(8px + .75vw);
    font-size: calc(1.5em + .75vw);
}


.smallTitle{
    margin-top: calc(8px + .75vw);
    margin-bottom: calc(8px + .75vw);
    font-size: calc(1.1em + .75vw);
}

.intro{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    text-align: justify;
	margin-bottom: 30px;
}

a{
    text-decoration: none;
}

#drop-area{
	display: block;
	width: 90%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	background-color: #41789e;
	text-align: center;
	border-radius: 20px;
	color: black;
}

#drop-area:hover{
	cursor: pointer;
}

#img-view{
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#img-view img{
	width: 100px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#img-view span{
	display: block;
	font-size: 12px;
	margin-top: 15px;
}

#img-view p{
	font-size: calc(12px + 0.5vw); 
}

#encrypt-decrypt-switch {
	display: flex;
    justify-content: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.switch{
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
	border-radius: 10px;
}

.switch:hover{
	cursor: pointer;
}

.button{
	padding: 5px;
	border-radius: 15px;
	background-color: #439fdf;
    font-size: small;
    font-family: 'Source Code Pro', monospace;
	border: none;
	margin: auto;
	margin-top: 5px;
}

.button:active{
	color: white;
	background-color: #1c4b6c;
}

.button:hover{
	cursor: pointer;
}

.item{
	margin: auto;
	margin-bottom: 15px;
}

.item>input{
	border-radius: 10px;
	border: none;
	font-size: small;
	padding-left: 10px;
}

#data-form{
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px)
{
    .content{
        width: 70%;
        margin: auto;
		margin-bottom: 25px;
		font-size: large;
		font-size: large;
		margin-bottom: 40px;
    }

	.item>input{
		font-size: large;
	}

	.button{
		padding: 10px;
		font-size: medium;
	}
}

@media (min-width: 1024px)
{
    .content{
        width: 50%;
		margin-bottom: 50px;
    }
}

